body{
    height: 100vh;
    width: 100%;
    margin: 0;
}

.top{
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    margin: 0;
    background-image: url(imgs/background_top.png);
}

.bottom{
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    margin: 0;
    background-color: saddlebrown;
}

.main{
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    width: 100%;
    margin: 0;
    align-items: center;
    background-image: url(imgs/bg_fundo.png);
}
.bg{
    width: 75%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top p{
    margin: 2%;
}
.plant_new{
    background-size: cover;
    background-image: url(imgs/bg.png);
    width: 100%;
    margin: 2px;
    height: 60%;
    background-color: transparent;
    border: none;
}
.top .title{
    color: white;
}

.conjunto{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
}

#alert{
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    width: 80%;
    height: 20%;
    z-index: 1;
    background-color: #095700f0;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    z-index: 2;
    display: none;
}

#store_modal{
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    width: 80%;
    height: 20%;
    z-index: 1;
    background-color: #095700f0;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    z-index: 2;
    display: none;
}

.w-100{
    width: 100%;
}

#alert p{
    font-size: x-large;
    text-align: center;
    color: white;
}

.add_plant{
    margin: 2%;
    background-image: url(imgs/add_plant.png);
    margin: 2%;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    
}
.next_day{
    margin: 2%;
    background-image: url(imgs/next_day.png);
    margin: 2%;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

.remove_plant{
    margin: 2%;
    background-image: url(imgs/shovel.png);
    margin: 2%;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

.top .value{
    color: #e1911a;
}

.name, .birthday_month, .age{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #fed9bf;
}

.overlay_top{
    z-index: 0;
    width: 100%;
    height: 10vh;
    position: absolute;
    background-color: #1c1815bf;    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .dflex_column_center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

